<!doctype html>
<!--[if IE 9]>
<html lang="en" class="ie ie9">
<![endif]-->
<!--[if lt IE 9]>
<html lang="en" class="ie ie-legacy">
<![endif]-->
<html lang="en">

<head>
    <title>Blog | Valerio Pierbattista - Front end developer</title>
    <meta name="description" content="I am a creative Front End Developer and Web Designer living in Rome, Italy. I love simple and functional interfaces optimized for anything that can access the web.">

    {% include head.html %}

    <meta property="og:title" content="Valerio Pierbattista - Front end developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.valeriopierbattista.com/blog/">
    <meta property="og:image" content="http://www.valeriopierbattista.com/images/facebook-image.png">
    <meta property="og:description" content="I am a creative Front End Developer and Web Designer living in Rome, Italy. I love simple and functional interfaces optimized for anything that can access the web.">
    <meta property="og:site_name" content="http://valeriopierbattista.com">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://www.valeriopierbattista.com/blog/">
    <meta name="twitter:creator" content="@vlrprbttst">
    <meta name="twitter:title" content="Valerio Pierbattista - Front end developer">
    <meta name="twitter:description" content="I am a creative Front End Developer and Web Designer living in Rome, Italy. I love simple and functional interfaces optimized for anything that can access the web.">
    <meta name="twitter:image" content="http://www.valeriopierbattista.com/images/facebook-image.png">
</head>

<body class="container">
     {% include cookie-bar.html %}
     {% include sidebar.html %}

        {{ content }}

     {% include footer.html %}
     {% include scripts.html %}
     <script src="/js/custom/prism.js"></script>
</body>
</html>
