<meta charset="utf-8">
<script src="https://use.fontawesome.com/99fde4e73f.js"></script>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Use latest IE randering engine and switch on chrome Frame if available -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-language" content="EN">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/manifest.json">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#d32f2f">
<meta name="theme-color" content="#ffffff">
