<meta charset="utf-8">
<title>Valerio Pierbattista - Front End Web Developer</title>

<meta name="description" content="Valerio Pierbattista - Front End Web Developer from Rome, Italy.
    I love simple and functional interfaces optimized for anything that can access the web.">

<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather:400,700' rel='stylesheet' type='text/css'>
<script src="https://use.fontawesome.com/99fde4e73f.js"></script>
<link href='../css/main.css' rel='stylesheet' type='text/css'>

<meta property="og:title" content="Valerio Pierbattista - Front End Web Developer">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.valeriopierbattista.com">
<meta property="og:image" content="http://www.valeriopierbattista.com/images/facebook-image.png">
<meta property="og:description" content="Front End Web Developer from Rome, Italy. I love simple and functional interfaces optimized for anything that can access the web.">
<meta property="og:site_name" content="http://valeriopierbattista.com/">
<meta http-equiv="content-language" content="EN">
<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Use latest IE randering engine and switch on chrome Frame if available -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
