<p class="sharethis">Share this:</p>
<div class="social-cont">

  <div class="js-share-popup social-box facebook" data-href="https://facebook.com/sharer.php?u=http://valeriopierbattista.com{{ page.url }}">
    <i class="fa social-ico fa-facebook"> </i>
  </div>

  <div class="js-share-popup social-box twitter" data-href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://valeriopierbattista.com{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}">
    <i class="fa social-ico fa-twitter"> </i>
  </div>

  <div class="js-share-popup social-box linkedin" data-href="http://www.linkedin.com/shareArticle?mini=true&url=http://valeriopierbattista.com{{ page.url }}&title={{ page.title }}&source=http://valeriopierbattista.com">
    <i class="fa social-ico fa-linkedin"> </i>
  </div>
<div class="js-share-popup social-box gplus" data-href="https://plus.google.com/share?url=http://valeriopierbattista.com{{ page.url }}">
 <i class="fa social-ico fa-google-plus"> </i>
</div>
</div>
