<div class="this-sidebar">
    <i id="bars" class="fa fa-bars"></i>
    <div class="sub-container-sidebar">
        <section itemscope itemtype="http://data-vocabulary.org/Person">
            <span itemprop="name" class="name">Valerio Pierbattista</span>
            <br>
            <span itemprop="title" class="job">
                <code>
                    Front end web developer
                </code>
            </span>
        </section>
    </div>

    <nav class="nav">
        <ul>
            <li>
                <a href="/index.html"><i class="fa fa-user"></i> About</a>
            </li>
            <li>
                <a href="/work.html"><i class="fa fa-code"></i> Work</a>
            </li>
            <li>
                <a href="/blog"><i class="fa fa-pencil"></i> Blog</a>
            </li>
            <li>
                <a href="mailto:omegaiori@gmail.com"><i class="fa fa-send-o"></i> Contact</a>
            </li>
        </ul>
    </nav>
</div>
