.blog {
    img {
        border:1px solid $divider-color;
        padding:rhythm(.5);

        &.cover {
            border:0;
            padding: 0;
        }
    }
  .entry {
    background: $light-bg;
    padding: rhythm(1) rhythm(2);
    box-shadow: $box-shadow;
    margin: 0 0 span(.5);
    @include respond-to(64) {
      padding: rhythm(1);
    }
    @include respond-to(30) {
      margin-top: span(.5);
      padding: rhythm(.5);
    }
  }
  a,
  a:visited {
    &.more-link {
      background: $dark-bg;
      color: $regular-text--on-dark-bg;
      border-radius: 2px;
      text-transform: uppercase;
      padding: rhythm(.5);
      margin: rhythm(1) 0 rhythm(.5);
      display: inline-block;
      border-bottom: 5px solid darken($dark-bg,10%);
      text-decoration: none;
    }
  }
  h1 {
    margin-bottom: rhythm(.2);
    a,
    a:visited,
    a:hover {
        text-decoration: none;
    }
  }
  .date,
  .sharethis {
    color: $lighter-text-color--on-light-bg;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
  $color-set: ( facebook:#3B5998, twitter: #56A3D9, linkedin: #007BB6, gplus:#D14836 );
  $socialsize: 2.3rem;
  $socialmargin: 0.3rem;
  $socialcount: 4;
  @function makelongshadow($the-color) {
    $val: 0 0 $the-color;
    @for $i from 1 through 50 {
      $val: #{$val}, #{$i}px #{$i + 1}px #{$the-color};
    }
    @return $val;
  }
  @mixin longshadow($the-color) {
    text-shadow: makelongshadow($the-color);
  }
  @each $color-class,
  $the-color in $color-set {
    .social-cont div.social-box.#{$color-class} {
      background: $the-color;
      i.social-ico {
        @include longshadow(darken($the-color,10%));
      }
    }
    //social-cont span
  }
  //end of loop
  .social-cont {
    font-size: $socialsize;
    text-align: left;
    width: ($socialsize * 1.5) * ($socialcount) + ($socialmargin * $socialcount * 2) - ($socialmargin * 2);
    overflow: auto;
    margin-bottom: rhythm(.5);
    .social-box {
      float: left;
      overflow: hidden;
      border-radius: $socialsize/8;
      margin: 0 $socialmargin;
      width: $socialsize*1.5;
      height: $socialsize*1.5;
      padding: 0;
      display: block;
      text-align: center;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      i {
        line-height: $socialsize*1.5;
      }
    }
    i.social-ico {
      color: $regular-text--on-dark-bg;
    }
  }
  .pagination {
    text-align: center;
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      display: inline-block;
      overflow: auto;
      margin-bottom: rhythm(1);
      @include adjust-font-size-to(20px,1);
    }
    li {
      float: left;
      margin: 0 10px;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      .disabled {
        color: $lighter-text-color--on-light-bg;
      }
      .active {
        background: $dark-bg;
        color: $regular-text--on-dark-bg;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
  .back-btn {
    margin-bottom: rhythm(1);
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
}
// blog
