//colors

//side bar color
$dark-bg: #D32F2F;
//text on dark bg
$light-text--on-dark-bg: lighten($dark-bg,28%);
$regular-text--on-dark-bg: #FFFFFF;

//light backgrounds
$page-bg: #f9f9f9;
$light-bg: #fff;

//text on light background
$link-text-color--on-light-bg: $dark-bg;
$text-color--on-light-bg: #212121;
$light-text-color--on-light-bg: #727272;
$lighter-text-color--on-light-bg: #b6b6b6;
$heading-color--on-light-bg: $dark-bg;
$subheading-color--on-light-bg: #727272;

//extra colors
$divider-color: #B6B6B6;
$codesnippet-bg:#eee;
$quote-bg:#f9f9f9;


// typography base for vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;
@include border-box-sizing;
$round-to-nearest-half-line: true;

// other
$sidebarW: 400px;
$sidebarW2:300px;
$box-shadow:0 0 5px rgba(0,0,0,.155);
