@charset "UTF-8";
// base
@import "compass";
@import "susy";
@import "partials/_reset.scss";
@import "partials/_mixin.scss";
@import "partials/_variables.scss";

@import "partials/_slick.scss";
@import "partials/_slick-theme.scss";

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.row {
    @include clearfix;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: $pageBackground;
    color:$primaryTextColor;
    @include container;
    padding-left:$sidebarW;
    @include respond-to(80) {
        padding-left:$sidebarW2;
    }
    @include respond-to(64) {
        padding: 101px 0 0;
    }
}

h1 {
    @include adjust-font-size-to(36px,2);
    color: $primaryColor;
    font-weight: 700;
    margin: 0 0 rhythm(.5);

    br {
        @include respond-to-min(30) {
            display: none;
        }
    }
    @include respond-to(30) {
         @include adjust-font-size-to(26px,1.4);
        margin: rhythm(.5) 0;
    }
}

h2 {
    @include adjust-font-size-to(24px,1.4);
    color: $secondaryTextColor;
    font-weight: 700;
    margin: 0 0 rhythm(.5);
    @include respond-to(30) {
         @include adjust-font-size-to(18px,1.1);
    }
}

h3 {
    @include adjust-font-size-to(14px,1);
    font-weight: 700;
}

li,
p {
    @include adjust-font-size-to(16px,1.2);
    font-weight: 400;
    @include respond-to(30) {
         @include adjust-font-size-to(14px,1);
    }

    code {
        background: #eee;
        padding: 0 5px;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
}

ul li p {
    @include adjust-font-size-to(16px,1.2);
    @include respond-to(30) {
         @include adjust-font-size-to(16px,1.2);
    }
}

code,
pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

a,
a:active,
a:visited {
    color: $primaryColor;
    text-decoration: underline;
}

a:hover {
    color: $darkPrimaryColor;
    text-decoration: underline;
}

blockquote {
    background: $pageBackground;
    margin: 0;
    padding: rhythm(.5) rhythm(1);
    border-left: 5px solid darken($pageBackground,20%);
    @include adjust-font-size-to(16px,1.2);
    font-style: italic;
}

@import "partials/_sidebar.scss";

.profile-pic {
    max-width: 160px;
    float: left;
    display: inline-block;
    border: 0;
    margin: 0 rhythm(1) rhythm(1) 0;
    cursor: pointer;
    border-radius: 50%;
    @include respond-to(21.875) {
        display: none;
    }
}

.personal-description-cont {
    @include clearfix;
    margin-bottom: rhythm(1);
}

.page-container {
    max-width: span(8 of 12);
    @include respond-to(100) {
        width: span(12 of 12);
        max-width: span(12 of 12);
    }
}

.page-container--large {
    max-width: span(12 of 12);
    width: span(12 of 12);
}

.sub-container {
    padding: rhythm(2) 0 rhythm(1) rhythm(4);
    @include respond-to(100) {
        padding: rhythm(2) rhythm(4);
    }
    @include respond-to(80) {
        padding: rhythm(2);
    }
    @include respond-to(30) {
        width: span(9 of 9);
        padding: rhythm(0) span(.5);
    }
}

.sub-container.work {
    padding-right: span(2.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    @include respond-to(100) {
        padding-right:  rhythm(4);
    }
    @include respond-to(90) {
        flex-flow: column;
        padding: rhythm(1) span(.6);
    }
}

.work-item {
    flex: 0 1 auto;
    // width instead of flex-basis for ie10-11
    //https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
    width: 48%;
    background: $TextOnDarkBgColor;
    padding: rhythm(1);
    box-shadow: 0 0 5px rgba(0,0,0,.155);
    margin-bottom: rhythm(1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .work-item {
        &-body-container,
        &-footer,
        &-image-container {
            //fix for ie10-11
            //https://github.com/philipwalton/flexbugs#6-the-default-flex-value-has-changed
            //always set shrink to 0
            height: auto;
            width: 100%;
            flex-shrink: 0;
        }
    }

    .work-item-footer {
        margin-top: auto;
        border-top:1px solid whitesmoke;
    }

    .work-item-footer p:last-child {
        margin-bottom: 0;
    }

    img {
        margin: 0 0 rhythm(1);
    }

    p span {
        background: #eee;
        color: $primaryTextColor;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
    @include respond-to(90) {
        flex: 0 1 auto;
        width: 100%;
        margin: 0 0 rhythm(1);
    }
}

@import "partials/_social-icons.scss";

#twitter-feed {
    @include clearfix;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: stretch;
    justify-content: center;
    @include respond-to(80) {
        display: block;
    }

    .twitter-article {
        width: 32%;
        flex: 0 0 auto;

        &:first-child {
            margin-right: auto;
        }
        &:last-child {
            margin-left: auto;
        }
        @include respond-to(85) {
            margin-bottom: rhythm(1);
            width: 100%;
            flex: none;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        width: auto;
        max-width: auto;
    }

    .tweetprofilelink,
    .twitter-pic,
    h1 {
        display: none;
    }

    .twitter-text {
        padding: 0 10px;
        @media (max-width: 48em) {
            padding: 0;
        }
    }
}

#instafeed {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    @include respond-to(48) {
        flex-flow: column nowrap;
    }
}

.insta-wrapper {
    width: 32%;
    &:first-child {
        margin-right: auto;
    }
    &:last-child {
        margin-left: auto;
    }

    @include respond-to(48) {
        width: 100%;
    }

    a,
    a:active,
    a:visited,
    a:hover {
        text-decoration: none;
        color: $secondaryTextColor !important;
        display: block;
        margin-bottom: rhythm(1);
    }

    img {
        border-radius: 5px;
    }
}

.insta-text-wrapper {
    padding: rhythm(.5) 0 0 0;
}
.insta-caption {
    @include adjust-font-size-to(16px,1.2);
    font-weight: bold;
}
.insta-geolocation {
    @include adjust-font-size-to(12px,.5);
}



img {
    width: 100%;
    border: 0;
    vertical-align: bottom;

    &.romaradio-img {
        background: #A62038;
        padding: 10px;
    }
}

.now-playing span {
    color: $secondaryTextColor;
    @include adjust-font-size-to(12px,1.5);
    display: block;
}

/*
* easily control equalizer width, height and * color with the following variables
*
*/
$eq-w: 15px;
$eq-h: 15px;
$bar-w: $eq-w/5;
$bar-bg: lighten($secondaryTextColor,25%);
@keyframes equalizer {
    0% {
        height: $eq-h;
    }

    50% {
        height: $eq-h/2;
    }

    100% {
        height: $eq-h;
    }
}

.eq-container {
    position: relative;
    display: inline-block;
    width: $eq-w;
    height: $eq-h;
    margin: 0 5px;

    .bar {
        position: absolute;
        bottom: 0;
        width: $bar-w;
        height: $eq-h;
        background: $bar-bg;

        &.left {
            left: 0;
            animation: equalizer 0.5s infinite cubic-bezier(0.19, 1, 0.22, 1);
        }

        &.center {
            left: 50%;
            margin-left: -($bar-w)/2;
            animation: equalizer 0.7s infinite cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
        }

        &.right {
            right: 0;
            animation: equalizer 0.4s infinite ease-in 0.2s;
        }
    }
}

.clients-slider {
    margin-bottom: rhythm(1);
    padding:0 rhythm(1);
    @include respond-to(37.5) {
        padding: 0;
    }
    &:before {
            position:absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            height: calc(100%);
            width: 20px;
            background: linear-gradient(to right, $pageBackground 50%, transparent);
            content:"";
            z-index:100;
            @include respond-to(37.5) {
                left: 0;
            }
        }
        &:after {
                position:absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                height: calc(100%);
                width: 20px;
                background: linear-gradient(to left, $pageBackground 50%, transparent);
                content:"";
                z-index:100;
                @include respond-to(37.5) {
                    right: 0;
                }
            }
    .slick-slider__item {
        height: 120px;
        padding:0 20px;
        background: #fff;
        margin: 10px;
        outline:0!important;
        cursor:move;
        box-shadow: 0 0 5px rgba(0,0,0,.155);
    }
    .logo {
        display: block;
        margin: 0 auto;
        max-width: 280px;
        @include vertical-align;
        &--enjoy {
            background: #C60E37;
            padding: 10px 10px 5px;
            max-width: 120px;
        }
        &--agi {
            max-width: 65px;
        }
        &--eni {
            max-width: 65px;
        }
        &--romaradio {
            max-width: 100px;
        }
        &--tedx {
            max-width: 100px;
        }
        &--hasbro {
            max-width: 90px;
        }
    }
}
@import "partials/_blog.scss";
@import "partials/_prism.scss";
@import "partials/_cookie.scss";
